/* @theme beamer */

@import "default";

:root {
  font-family: "CMU Sans Serif", Helvetica, sans-serif;
  --beamer-main: #1f38c5;
  --beamer-secondary: #141414;
}

section {
  background-color: #ffffff;
  /* bottom two-coloured bar */
  background-image:
    url(data:image/svg+xml;utf8,<svg width="250mm" height="5.3545671mm" viewBox="0 0 250 5.3545671" version="1.1" id="svg5" inkscape:version="1.1.1 (3bf5ae0d25, 2021-09-20)" sodipodi:docname="bar.svg" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"> <sodipodi:namedview id="namedview7" pagecolor="#ffffff" bordercolor="#666666" borderopacity="1.0" inkscape:pageshadow="2" inkscape:pageopacity="0.0" inkscape:pagecheckerboard="0" inkscape:document-units="mm" showgrid="false" showguides="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="0.74118965" inkscape:cx="564.63282" inkscape:cy="92.418992" inkscape:window-width="1684" inkscape:window-height="947" inkscape:window-x="114" inkscape:window-y="30" inkscape:window-maximized="0" inkscape:current-layer="layer1" units="mm" width="264mm" /> <defs id="defs2" /> <g inkscape:label="Vrstva 1" inkscape:groupmode="layer" id="layer1" transform="translate(-20.347355,-91.027649)"><rect style="fill:#141414;fill-opacity:1;fill-rule:evenodd;stroke-width:0.422999" id="rect31" width="125" height="5.3545671" x="20.347355" y="91.027649" /><path style="fill:#1f38c5;fill-opacity:1;stroke-width:0.572799" d="m 145.34735,93.704933 v -2.677284 h 62.5 62.5 v 2.677284 2.677282 h -62.5 -62.5 z" id="path394" /></g></svg> );
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 110% 1em;
  /* top bot left right padding */
  padding: 2em;
}

header {
  font-size: 0.6em;
  /* this text-align is important */
  text-align: right;
  /* I don't like this absolute positioning, but it works */
  position: absolute;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -51%;
  color: white;
}

footer {
  font-size: 0.6em;
  /* this text-align is important */
  position: absolute;
  text-align: left;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: 50.8%;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #141414;
}

/* only apply to the first occurrence of h1 */
h1:nth-of-type(1) {
  font-family: "CMU Bright";
  color: #ffffff;
  /* once again, this is not great, but it works */
  background-color: var(--beamer-main);
  border-top: 0.3em solid var(--beamer-main);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1.5em;
  text-indent: 0.5em;
}

/* title page - only to be used as for a single slide */
/* <!-- _class: title --> */
section.title>h1 {
  font-family: "CMU Bright";
  color: #ffffff;
  /* once again, this is not great, but it works */
  background-color: var(--beamer-main);
  border-radius: 25px;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 0.2em;
  height: auto;
}

/* remake this to be position with respect to h1 */
section.title>p {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

code {
  background-color: rgba(100, 100, 100, 0.2);
}

section::after {
  font-size: 0.6em;
  /* this adds total pages */
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
  position: absolute;
  text-align: right;
  top: 96.2%;
  width: 100%;
  right: 0;
  left: -0.5em;
  color: white;
}
