/* @theme cobalt */

@import "default";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  font-family: Nunito, Helvetica, Arial;
  --bg-color: #141d28;
  --bg-color-alt: #192534;
  --bg-color-alt-light: #37485c;
  --side-bar-bg-color: #090b10;
  --text-color: #a9aaab;
  --text-color-alt: #83b3c5;
  --border: #57708d;
  --orange-line: #f79f2a;
  --orange-line-dim: #f79e2abe;
  --mark-bg: #ffde67;
}

:root {
  font-family: Nunito, Helvetica, Arial;

}

section {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header, footer, section::after {
  color: var(--text-color);
}

header {
  border-bottom: 1px solid var(--orange-line-dim);
}

footer, section::after {
  border-top: 1px solid var(--orange-line-dim);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  border-bottom: 1px solid var(--orange-line);
}

table {
  font-size: 0.875rem;
  padding: 0;
  word-break: initial;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

table tr {
  border-top: 1px solid var(--border);
  margin: 0;
  padding: 0;
}

table tr th {
  border: 1px solid var(--border);
  border-bottom: solid 2px #ccc;
  border-bottom: 0;
  font-weight: bold;
  margin: 0;
  padding: 10px 16px;
  background-color: var(--bg-color-alt-light);
  color:var(--text-color-alt);
}

table tr td {
  background: var(--bg-color-alt);
  border: 1px solid var(--border);
  margin: 0;
  padding: 10px 16px;
}

/* blockquote text color */
p.code-line {
  color: var(--text-color)
}

blockquote {
  background: var(--bg-color-alt);
  border-left: 10px solid #f0b752;
  margin: 0.5em;
  padding: 0.5em;
}

/* codeblock */
pre {
  background-color: var(--bg-color-alt);
}

code {
  background-color: rgba(100, 100, 100, 0.2);
}

a {
  color: var(--orange-line-dim);
}

/* pagenumber / total */
section::after {
  font-size: 0.75em;
  content: attr(data-marpit-pagination) ' / ' attr(data-marpit-pagination-total);
}

/* the "center" keyword centers the image - may break, careful */
img[alt~="center"] {
	display: block;
	margin: 0 auto;
}

.katex {
  font: normal 1.1em KaTeX_Main, 'Times New Roman', serif
}

mark {
  border-radius: 4px;
  font-weight: inherit;
  background-color: var(--mark-bg);
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 4px 2px 4px;
}
